/*GENERAL*/

*,
:before,
:after {
    box-sizing: border-box;
}

img,
video {
    max-width: 100%;
}


body {
    font-family: 'Intro';
    margin: 0;
}

p {
    color: gray;
    font-family: 'Lato';
    font-size: 1em;
    font-weight: 100;
    margin: 0;
}

#placeholder {
    max-width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.topradius {
    border-radius: 10px 10px 0 0;
}

h4 {
    margin: 0;
    font-size: 1.5em;
}

/*NAV*/

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em
}

#logo {
    height: 1.7em;
}

#menucart a img {
    height: 2em;
    padding: 0 .3em;
}

/*FASTSEARCH*/

@media(min-width:900px) {
    .topPlaceholder {
        width: 50vw;
    }

    #fastSearch {
        flex-direction: row;
    }

    #fastSearchBlock {
        width: 50vw;
        margin:5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tutorialBlock{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .tutorialCard{
        flex-direction: row;
        width:25%
    }
    .tutoCardInfo{
        flex-direction: column;
    }
    .grid{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        background-color: none;
    }
    .container{
        width:500px
    }
    aside{
        grid-template-columns: repeat(4,1fr);
        gap:2em;
    }
    address{
        display: flex;
        justify-content: space-between;
    }

}
@media(max-width:900px){

    #fastSearch{
        flex-direction: column;
    }
    .tutoCardInfo{
        flex-direction: column;
    }

}
#fastSearch {
    background: linear-gradient(0deg, #74cc53 0%, #bfd939 100%);
    display: flex;
}
#fastSearchBlock{
    padding:1em;
}
h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: .05em;
    margin: auto auto auto .5em
}

form {
    border-radius: 5px;
    margin: 2em auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%
}

form label input {
    background-repeat: no-repeat;
    background-position: 1em 0;
    background-size: contain;
    text-align: center;
    padding: 1em;
    width: 100%;
    height: 3em;
    border: none;
    font-size: 1em;
}

#adress {
    background-image: url('../images/pin.svg');
    border-radius: 5px 5px 0 0;
}

#whatyoulike {
    background-image: url('../images/bbq.svg');
    border-top: 1px solid gray;
    border-radius: 0 0 5px 5px;
}

#findBtn {
    background-color: #fa7344;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #fa7344;
    border-radius: 5px;
    padding: 1em 2em;
    margin: auto auto auto 1em
}

/*TUTORIAL*/

.sectionTitle {
    text-transform: uppercase;
    font-size: 2.2em;
    color: #fa7344;
    text-align: center;
    margin: 1em 0;
    padding: 1em;

}

.tutoImg {
    padding: 1em;
    width: 8em;
    height: 8em;
}

.description {
    margin: 0;
    color: grey;
}

.tuto {
    text-transform: uppercase;

}

.tutorialCard {
    display: flex;
    margin: 1em;
}

.tutoCardInfo {
    display: flex;
    padding-left: 1em;
    margin-bottom: 2em;
}

.description {
    color: gray;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
}

/*CONTAINERS*/

#menu {
    background-color: rgba(245, 245, 235, 255);
    padding: 1em;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin: 2em 0;
}

.container h4,
.container p {
    padding: 1em;
}

.note {
    border-top: 1px rgba(245, 245, 235, 255) solid;
    padding: 1em;
    color: gray;
    display: flex;
}

.stars {
    display: flex;
}

.star {
    width: 1.6em;
}

.ratings {
    margin-left: 3em;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-size: 1.5em;
}

.buyBtn {
    background-color: green;
    color: white;
    padding: 1em 1.5em;
    font-style: italic;
    border-radius: 10px;
    border: none;
}

/*ASIDE*/

aside {
    background: linear-gradient(0deg, #ee3b51 0%, #fa7344 100%);
    color: white;
    display: grid;
    text-align: center;
}

.red {
    padding: 5em;
}

.red p {
    color: white
}

aside img {
    background-color: white;
    border-radius: 100%;
    padding: 1em;
    width: 60%;
}

aside h2 {
    text-transform: uppercase;
}

#foodType {
    background-color: rgba(245, 245, 235, 255);
    padding: 1em
}

.foodTypeCard div{
    padding:1em 2em;

}
.foodTypeCard div h3 {
    margin: 0;
}

.foodTypeCard div p {
    padding-bottom: 1em;
    margin: 0;
}

#banner {
    text-transform: uppercase;
    color: white;
    padding: 2em .5em;
    text-align: center;
    margin: 0;
}

.banner {
    margin: 1em;
    background-color: black;
    border-radius: 10px;
    padding: 3em 1em;
    font-size: 1.2em;
}

#restaurants {
    background-color: rgba(245, 245, 235, 255);
    margin: 0;
    padding: 1em;
}

.greenBtn {
    background-color: #74cc53;
    color: white;
    padding: 1em 2em;
    font-style: italic;
    border-radius: 10px;
    border: none;
}

.btnContainer {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.reviews {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    border-top: 1px solid gray;
    color: gray;
}

footer div {
    padding: 1em
}

footer div h2 {
    text-transform: uppercase;
}

footer div p {
    color: gray;
}

address {
    background-color: rgba(245, 245, 235, 255);
    padding: 1em;
    color: gray;
}

address p a {
    color: #bfd939;
}

address p {
    text-align: center;
}

address div a {
    padding: 1em 2em 0 0
}